.footer{
    background-color: #414042;
    with: 100%;
    height: 110px;
    padding-left:160px;
    padding-right:160px;
}
.footer__span_left{
    font-size: 12px;
    float: left;
    margin-top:45px;
    color: rgba(254, 254, 254, 0.25);
    a{
        text-decoration: none;
        color: rgba(254, 254, 254, 0.25);

    }
}
.footer__span_right{
    font-size: 12px;
    margin-top:45px;
    float: right;
    color: rgba(254, 254, 254, 0.25);

}