.video{
    background: url("../../assets/images/video_background.jpg") 0 0 no-repeat;
    background-size: cover;
    height: 500px;
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    position: relative;
    box-shadow: inset 0px 0px 0px 1000px rgba(0,0,0,0.66);


}

.video__play{
    cursor: pointer;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -100px;
    margin-left: -60px;
    height: 34px;
    width: 30px;
    border: 1px solid white;
    border-radius: 8px;
    padding: 20px 42px;
}

.video__play img{
    width: 30px;
    height: 34px;
}
.video__title{
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: 0px;
    margin-left: -400px;
    font-family: OpenSans;
    font-size: 48px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;

    color: #ffffff;
    text-shadow: 0px 0.5px 1.5px rgba(25, 22, 24, 0.36);
}
.video__descr{
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: 77px;
    margin-left: -300px;
    width: 650px;
    height: 61px;
    font-family: OpenSans;
    font-size: 18px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #ffffff;
}